.vscode

lab01/in.txt
lab01/1
lab01/2
lab01/3

lab02/ex1/main
lab02/ex2/main

lab03/ex1/main
lab03/ex2/main

lab04/main

lab05/main

lab06/main

lab07/main

preg/

partial/main

lab08/file.txt
lab08/main

lab09/main

lab11/main
lab11/main-andrei